.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions

# Swap the comments on the following lines if you wish to use zero-installs
# In that case, don't forget to run `yarn config set enableGlobalCache false`!
# Documentation here: https://yarnpkg.com/features/caching#zero-installs
#!.yarn/cache
.pnp.*

node_modules
dist
*.local.*

# Logs
logs
*.log
yarn-debug.log*
yarn-error.log*

# Editor directories and files
.DS_Store
.vscode/*
!.vscode/launch.json
!.vscode/extensions.json
.idea
