name: Pull request
on:
  pull_request:
    types:
      - opened
      - reopened
      - synchronize
      - ready_for_review
    branches:
      - main
jobs:
  checks:
    # Execute lint and build when a PR is ready
    if: ${{ ! github.event.pull_request.draft }}
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - uses: ./.github/actions/install-dependencies
      - run: yarn check:all
      - run: yarn build:all
