name: Create a new release and update latest

on:
  release:
    types: [created]

jobs:
  build-and-publish:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Setup Node.js
        uses: actions/setup-node@v4
        with:
          node-version: '22'
          registry-url: 'https://registry.npmjs.org/'

      - name: Enable Corepack
        run: |
          corepack enable

      - name: Install dependencies
        run: yarn install --immutable

      - name: Build all packaged
        run: yarn all:build

      - name: Build and bundle agent-ui
        run: |
          cd apps/agent-ui
          yarn bundle

      - name: Rename the agent-ui bundle
        run: |
          mv out/agent-ui*.tgz out/agent-ui-${{ github.event.release.tag_name }}.tgz

      - name: Upload agent-ui artifact
        if: ${{ false }}
        uses: actions/upload-release-asset@v1
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          upload_url: ${{ github.event.release.upload_url }}
          asset_path: ./out/agent-ui-${{ github.event.release.tag_name }}.tgz
          asset_name: agent-ui-${{ github.event.release.tag_name }}.tgz
          asset_content_type: application/gzip

      - name: Copy agent asset for latest
        if: ${{ false }}
        run: cp out/agent-ui-${{ github.event.release.tag_name }}.tgz out/agent-ui-latest.tgz

      - name: Update latest release
        if: ${{ false }}
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        run: |
          git push --delete origin latest || true
          git tag -f latest ${{ github.sha }}
          git push -f origin latest
          
          upload_url=$(curl -s -H "Authorization: token $GITHUB_TOKEN" \
            "https://api.github.com/repos/${{ github.repository }}/releases/tags/latest" \
            | jq -r '.upload_url' | sed 's/{?name,label}//g')
          
          if [ "$upload_url" = "null" ]; then
            response=$(curl -s -X POST -H "Authorization: token $GITHUB_TOKEN" \
              -d '{"tag_name": "latest", "name": "Latest Release", "body": "This is always the latest release"}' \
              "https://api.github.com/repos/${{ github.repository }}/releases")
            upload_url=$(echo "$response" | jq -r '.upload_url' | sed 's/{?name,label}//g')
          fi
          
          response=$(curl -s -w "%{http_code}" -X POST -H "Authorization: token $GITHUB_TOKEN" \
            -H "Content-Type: application/gzip" \
            --data-binary @out/agent-ui-latest.tgz \
            "${upload_url}?name=agent-ui-latest.tgz")
          http_code="${response: -3}"
          if [ "$http_code" -ne 201 ]; then
            echo "Failed to upload agent-ui-latest.tgz. HTTP status: $http_code"
            exit 1
          fi

      - name: Configure npm credentials
        run: echo "//registry.npmjs.org/:_authToken=${NPM_AUTH_TOKEN}" > ~/.npmrc
        env:
          NPM_AUTH_TOKEN: ${{ secrets.NPM_AUTH_TOKEN }}
          
      - name: Lookup for workspaces to be published
        run: |
          declare -a LIBS=("api-client" "agent-client" "ioc")
          echo "LIBS=${LIBS[@]}" >> $GITHUB_ENV
          (IFS=,; printf 'The following workspaces will be published: [%s]\n' "${LIBS[*]}")

      - name: Configuring git
        run: |
          git config user.name '${{ github.actor }}'
          git config user.email '${{ github.actor }}@users.noreply.github.com'

      - name: Bump workspaces to ${{ github.ref_name }}
        run: |
          TAG_NAME="${{ github.event.release.tag_name }}"
          VERSION="${TAG_NAME#v}"
          for LIB in $(echo ${LIBS}); do
            echo Bumping @migration-planner-ui/"${LIB}"
            jq --arg ver "$VERSION" '.version = $ver' packages/"${LIB}"/package.json > packages/"${LIB}"/package.tmp.json
            mv packages/"${LIB}"/package.tmp.json packages/"${LIB}"/package.json
          done

      - name: Publish workspaces to NPM
        env:
          NPM_AUTH_TOKEN: ${{ secrets.NPM_AUTH_TOKEN }}
        run: |
          yarn config set npmScopes.migration-planner-ui.npmAuthToken $NPM_AUTH_TOKEN
          for LIB in $(echo ${LIBS}); do
            printf 'Publishing @migration-planner-ui/%s\n' "${LIB}"
            yarn workspace @migration-planner-ui/${LIB} npm publish            
          done
